<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
	</connectionStrings>

	<appSettings>
	</appSettings>

	<system.web>
		<compilation targetFramework="4.0" />

		<!-- Setting this to "RemoteOnly" can tell you more about what happened when running on localhost
		Setting this to "On" will show you the famous white & yellow screen: 
		"General warning light: something happened" 
		Setting this to "Off" will show you all kinds of wonderful detail from anywhere (read: security hole) -->
		<customErrors mode="RemoteOnly" defaultRedirect="index.html" />
	</system.web>

</configuration>
